.sliders {
  width: 15rem;
}

.slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slider input {
  margin-left: 20px;
}

.label-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}