@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;600&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(239, 239, 239);
}